{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} text-center">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% else %}
    <div class="home-presentation-container primary-2 d-flex">
        <img class="home-presentation-image col-3" src="{{ asset('assets/images/enfant_question.png') }}" alt="Un enfant lève le doigt pour une question">
        <div class="home-presentation-container-secondary col">
            <h1 class="home-presentation-title primary-text-4">FAQ - O'Clock</h1>
            <div class="home-presentation-container-description primary-text-4">
                <p class="home-presentation-description">Tu as des questions, mais tu es sans réponses ?</p>
                <p class="home-presentation-description">Alors viens poser tes questions ici en t’inscrivant et la communautée viendra t’aider en t’apportant des réponses.</p>
                <p class="home-presentation-description">A toi de les aider aussi.</p>
                <p class="home-presentation-description">L’entraide est de mise ici</p>
            </div>
        </div>
    </div>
{% endif %}

{# Zone des Questions #}
    
<div class="home-questions-container">

{% for question in questions %}
    {% include 'partiels/_question_card.html.twig' %}
{% endfor %}

</div>

<div class="pagination-wrapper">
    <div class="pagination">
        {{ knp_pagination_render(questions) }}
    </div>
</div>

{% endblock %}
