{% extends 'base.html.twig' %}

{% block title %}Nouvelle question{% endblock %}

{% block body %}

<div class="home-questions-container">

    {{ include('question/_form_question.html.twig') }}
    
</div>


{% endblock %}
