{{ form_start(form, {'attr': {"class": "form nav-main-form-search"}}) }}
    <div class="form-group search-bar">{{ form_row(form.search) }}</div>
    <input type="submit" name="add" value="Rechercher" class="btn btn-lg btn-blockinput-group-text primary-4 primary-text-1">
{{ form_end(form) }}