{% extends 'backend/backend_layout.html.twig' %}

{% block titleAdmin %}NEW{% endblock %}

{% block bodyAdmin %}
    <h1 class="backend-title primary-0 primary-text-4">Question - Création</h1>


    {{ include('backend/question/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('backend_question_index', {'page': 1}) }}">Retour à la liste</a>

{% endblock %}