<nav class="nav">
    <a class="nav-link primary-text-4" href="{{ path('backend_question_index') }}">Questions</a>
    <a class="nav-link primary-text-4" href="{{ path('backend_tag_index') }}">Tags</a>
    <a class="nav-link primary-text-4" href="{{ path('backend_user_index', {'page': 1}) }}">Membres</a>
</nav>