{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}

<div class="home-questions-container">

    <h1 class="backend-title primary-0 primary-text-4">Recherche par auteur : {{ user.username }}</h1>

    {% for question in questions %}
        {% include 'partiels/_question_card.html.twig' %}
    {% endfor %}

</div>

{% endblock %}
