{% extends 'backend/backend_layout.html.twig' %}

{% block titleAdmin %}MODIFIER{% endblock %}

{% block bodyAdmin %}
    <h1 class="backend-title primary-0 primary-text-4">Membre - {{ user.username|capitalize }}</h1>

    <div class="home-questions-container form-signin text-center">
        {{ include('backend/user/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>

    <a class="btn btn-secondary" href="{{ path('backend_user_index', {'page': 1}) }}">Retour à la liste</a>

    {{ include('backend/user/_delete_form.html.twig') }}
{% endblock %}